<h1>Login</h1>

<div class = "mt-3">
<%= form_with :url => "/sessions" do |form| %>
  <p>
    <%= form.label "email", class: "form-label" %>
    <%= form.text_field "email", class: "form-control" %>
    <%= form.label "password", class: "form-label" %>
    <%= form.password_field "password", class: "form-control" %>
  </p>

  <div class = "mt-4">
    <%= form.submit "Login", class: "btn btn-dark" %>
  </div>
<% end %>
</div>